*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
#nav-header{
    height: 6vh;
    background-color: #131921;
}
#logo{
    margin-top: 5px;
    width: 110px;
    height:5vh
}

#logo:hover{
    border: 1px solid white;
}
.deliver-location{
    margin: 5px 2px;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    height: 5vh;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    
    
}

.deliver-location:hover{

    border: 1px solid white;
    
}

#deliver{
  font-size: 12px;
  margin-left: -4px;
  margin-bottom: -5px;
  letter-spacing: -0.4px;


}



#location{
    padding-top: -410px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  
}

.search{
    
    width: 68%;
    height: 4.5vh;
    margin: 8px 0px;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 12px;
}

#category{
    font-size: 12px;
    color: #535c68;
    width: auto;
    text-align: center;
    border-radius: 0px;
    border-style: none;
    outline: none;
    margin: 1px 1px;
    border-right: 0.1px solid darkgrey;
}

#search-box{
    width:80%;
    border-style: none;
    border: none;
    outline: none;
    margin: 2px 10px;
  
}

#search-icon{
    background-color: #F3A847;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-left: 66px;
    padding: 12px 20px;
    border-left: 1px solid #F3A847;
}

.language{
   
    height: 5vh;
    width: 55px;
    align-items: center;
    justify-content: center;
    display: flex;

    margin: 5px 2px;
}

.language:hover{
    border: 1px solid white;
}

#language-flag{
 background-color: #131921;
 border: none;
 outline: none;
 font-size: 20px;
 color: white;
}

.account{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4px 4px;
    height: 5vh;
    color: white;
    padding: 4px  4px;
    margin-left: 12px;
    width: 130px;
    
  
}

.return-order{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4px 4px;
    height: 5vh;
    color: white;
    padding: 4px  4px;
    margin-right: 12px;
    width: 80px;
}


.account:hover,.return-order:hover{
    border: 1px solid white;
}
.account>span,.return-order>span{
   
    height: 14.5px;
    font-size: 12px;
}

.account>strong,.return-order>strong{
    font-size: 15px;
  
}

.cart{
   position: relative;
   display: flex;
   width: 60px;
   height: 5vh;
   color: white;
   margin: 4px 4px;
}

.cart:hover{
    border: 1px solid white;
}

#cart-icon{
    font-size: 25px;
    margin-top: 12px;
    
}

.cart>span{
    margin-top: 19px;
    font-size: 15px;
}

.cart-count{
    background-color:#ffffff;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    color: tomato;
    position: relative;
    right: 55px;
    top: 10px;

}

/*extra-nav*/

#extra-nav{
    background-color: #232F3E;
    width: 100%;
    height: 4vh;
    color: white;
}

.toggle{
 background-color: #232F3E;
 width: 4%;
 height: 3vh;
 text-align: left;
 align-items: center;
 position: relative;
 display: flex;
 margin-top: 4px;
 padding: 2px 6px;
}

.toggle:hover{
    border:1px solid white;
}

.toggle>i{
    font-size: 19px;
    margin-right: 10px;
    
}

.toggle>span{
    font-size: 15px;
}

.extra-data{
    position: relative;
    display: flex;
    width: 5.5%;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
    margin-top: 4px;
    padding: 2px 6px;
}

.extra-data-customer{
    position: relative;
    display: flex;
    width: 7%;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
    margin-top: 4px;
    padding: 2px 6px;
}

.extra-data-reg{
    position: relative;
    display: flex;
    width: 3.5%;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
    margin-top: 4px;
    padding: 2px 6px;
}

.extra-data-gift{
    position: relative;
    display: flex;
    width: 4.5%;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
    margin-top: 4px;
    padding: 2px 6px;
}

.extra-data-val{
    position: relative;
    display: flex;
    width: 8.5%;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
    margin-top: 4px;
    margin-left: 1140px;
    padding: 2px 6px;
    font-weight: bold;
}

.extra-data:hover,.extra-data-customer:hover,.extra-data-reg:hover,.extra-data-gift:hover,.extra-data-val:hover{
    border:1px solid white
}